<h1>About</h1>
<p>Ahmad Al Gailani - the developer.</p>


<p>I am a second year student of Computer Programming & Analysis at Seneca College.</p>
<p>this is the fourth assignment in WEB422 course. in this assignment, I was tasked to create a User Interface (UI) with Angular /
    Angular Material. I created an new Angular app prepares it for routing. i created four Components: About,NotFound, newReleases, and artistDiscography. I also created a Routes array for each of the components and applied routerlink where appropriate</p>

